<!DOCTYPE html>
<html>
  <head>
    <title>Sizzle</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <div id="Head">
      h1 foo
    </div>

    <div id="main">
      <div id="left">
        <b>
          <h3>nav foo</h3>
        </b>
          <ul>
            <b>
              <p>dis</p>
              <p>dat</p>
              <p>de udda ting</p>
            </b>
          </ul>
      </div>

      <div id="filler">
        <h2>main foo heading</h2>
        <p>Stuy CS dolor sit amet configure googstuy review workstation. Test Mykolyk build intertrash borked ops summary deploy time of the rona review qaf drop install 8000 build workstation program ubuntu. Merge Mykolyk fix ai maintain skeelton update read eval print loop refactor apcs. Test lisa borked devo fix ops summary design great big repo of holding install ubuntu document 8000 review cobo. Borked moe.</p>
        <p>Stuy CS dolor sit amet refactor krewes configure ubuntu document nota bene refactor s+s(+e) code piazza. Write ye olde rpg debug Repo of Holding update Schedule-o-Matic write GUDCLEANLIVIN test qaf drop write uv-radiation-emitting devices build gudfam develop lct configure key. Configure FIFO. Design ubuntu code ( moony wormtail padfoot prongs ) refactor skeelton fix keys support piazza borked piazza install think: s i m p l e. think: s m a r t. monitor homer borked moe code ubuntu. Monitor ubuntu maintain Alonso develop thinker refactor great big repo of holding code team name portending greatness refactor krewes borked 8000 maintain Dillon review key fix uv-radiation-emitting devices.</p> 
      </div>

    </div>

    <div id="bottomCopyright">
      Copyright &copy; 2015 Clyde "Thuffy" Sinclair
    </div>

  </body>
</html>
